@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-left: 50px;
}

li {
    list-style-type: none;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 50px;
}

.article_minia header{
    display: flex;
    justify-content: center;
    margin: 0 5%;
    padding: 5%;
}
.article_minia a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}

.article_minia h2 {
    color: #D3573C;
    font-size: 40px;
    margin: 15px 0px 0px 0px;
    text-overflow: ellipsis;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.photographer_cardText{
    display: flex;
    flex-direction: column;
}
.photographer_cardText h4 {
    color: #ac2626;
    font-size: 16px;
    margin: auto;
    font-weight: 400;
}

.description_photographer {
    font-size: 12px;
    margin: auto;
}

.price_photographer {
    font-size: 12px;
    color: rgb(132, 132, 132);
    margin: auto;

}


.miniature_photographer img {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}
a > img:hover {
   transform: scale(1.1)  ;
}

.back {
    display: flex;
}

/** photographer part **/

#contact_modal {
    display: none;
}

.likes_button {
    background-color: white;
    /* Green */
    border: none;
    color: #901C1C;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

select {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.selecter_button span {
    padding-left: 15px;
    margin-top: 5px;
}

.selecter_button_off {
    display: none;
}

.selecter_button_on {
    z-index: 1;
    position: absolute;
    display: block;
    top: 50px;
    left: 94px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 140px;
    border: none;
    background-color: #901C1C;
    border-radius: 0 0 5px 5px;
    cursor: pointer;

    /* transition: down 0.4s ease-in-out; */
}

.selecter_button_on a {
    width: 100%;
    padding: 5px 5%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: left;
    color: white;
}

.selecter_button_on ul {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 10px;
    list-style-type: none;
}

.selecter_button_on li hr {
    margin: 10px 0;
}

#myIconeSelect {
    margin-right: 10px;
}

.selecter_button i {
    padding-left: 20px;
}

.selecter_button span {
    font-size: 18px;
    font-weight: 600;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 35%;
    height: 70%;
    width: 30%;
    max-height: 70%;
    top: 10%;
    border-radius: 5px;
    background-color: #DB8876;

    padding: 35px;
}

.bgModal {
    position: relative;
    overflow: hidden;
    margin: 5% auto;
    min-width: 95%;
}

#headerForm {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.form_header_content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.modal header {
    width: 100%;
}

.modal header img {
    width: 40px;
    height: 40px;
    align-items: flex-end;
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    font-size: 46px;
    font-weight: normal;
    text-align: center;
}

.hidden {
    filter: blur(4px);
}

#nameTitleForm {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

textarea {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: none;
    margin: 10px 0;
}

form label {
    color: #312E2E;
    font-size: 28px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width:1200px) and (max-width:1920px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    } 
}

@media screen and (min-width: 800px) and (max-width: 1200px) {

    header {
        margin: 0 0 0 5%;
    }

    .logo {
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {

    header {
        margin: 0 0 0 5%;
    }

    .logo {
        margin: 0;
    }
}